*{
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
}

body { 
    background-color: rgb(158, 158, 247);
    font: normal 15pt Arial;
	margin-top: 250px;
} 

header {
    color:white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    width: 800px;
	height: 500px;
}

.div-1{
	padding-bottom: 10px;
}

.div-2{
	padding-bottom: 10px;
}

.div-3{
	padding-bottom: 10px;
}

.div-4{
	padding-bottom: 10px;
}

.div-5{
	padding-bottom: 10px;
	padding-top: 15px;
}
